body{
    background-color:#2a0952;
}

/*Start Quiz Box One Styling*/

#quiz-box-one{
    align-content: center;
    background-color: #fff;
    border: black solid 1px;
    border-radius: 3%;
    margin:400px;
    padding: 50px;
}

#quiz-box-one a{
    color: rgb(119, 9, 73);

}

#quiz-box-one header p{
    font-size: 5px;
    margin-top: none;
    padding-top: none;
}

/*Start Quiz Screen Styling*/
#start-button button{
    font-size: 10px;
    font-weight: 500;
    color: #fff;
    margin-left: 150px;
    padding: 10px 15px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: #2a0952;
    cursor: pointer;
}

:hover#start-button button{
    font-size: 10px;
    font-weight: 500;
    color: #fff;
    padding: 10px 15px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: #7449aa;
    cursor: pointer;
}

/*Quiz Box Two Styling*/

#quiz-box-two{
    align-content: center;
    background-color: #fff;
    border: black solid 1px;
    border-radius: 3%;
    margin:400px;
    padding: 50px;
    display: none;
}



#quiz-box-two ol button{
    margin-right: 10px;
   
    
    

}

#quiz-box-two ol li{
    background: #2a0952;
    margin:15px;
    text-decoration: none;
    list-style:none;
    color: #fff;
    cursor: pointer;
    
    
}

/*Quiz Box Three Styling*/

#quiz-box-three{
    align-content: center;
    background-color: #fff;
    border: black solid 1px;
    border-radius: 3%;
    margin:400px;
    padding: 50px;
    display: none;
}





